/* element selectors */

* {
  background-color: #f7f8fa;
  font-family: Barlow, sans-serif;
}

/* class selectors */

/* utility selectors */

.container {
  width: 80%;
}

.margin-center {
  margin: 0 auto;
}

.text-align-center {
  text-align: center;
}

.row {
  display: flex;
}

.column-fourth {
  width: 25%;
}

.column-full {
  width: 100%;
}

.flex-center {
  justify-content: center;
  align-content: center;
}

.flex-column {
  flex-direction: column;
}

.text-bold {
  font-weight: bold;
}

.small-text {
  font-size: 0.9em;
}

.smaller-text {
  font-size: 0.75em;
}

/* semantic selectors */

.phone-image {
  width: 100%;
}

.icon {
  width: 20%;
}

.column-padding {
  padding: 0 10px;
}
